.wctb-wrap table {
    width: 100%;
}

.wctb-wrap table td {
    padding: 5px 0;
}

.wctb-wrap table tr td:first-child {
    width: 200px;
    vertical-align: top;
}

.wctb-wrap .nav-tab:not(.nav-tab-active) {
    background-color: #fff;
    cursor: pointer;

}

.wctb-wrap .nav-tab-active,
.wctb-wrap .nav-tab-active:focus,
.wctb-wrap .nav-tab-active:focus:active,
.wctb-wrap .nav-tab-active:hover {
    background-color: #f1f1f1;
    border-bottom-color: #f1f1f1;
    cursor: default;
}

.wctb-wrap .nav-tab:focus {
    box-shadow: none;
}

.wctb-wrap .mb-tab-content {
    padding: 20px 0;
}

body .wctb-wrap .mb-tab-content th {
    text-align: left;
}

body.rtl .wctb-wrap .mb-tab-content th {
    text-align: right;
}

.wctb-wrap .mb-tab-content {
    padding: 20px 0;
}

.wctb-wrap .mb-tab-content textarea {
    width: 100%;
}

